<%= for world <- @games do %>
  <canvas 
    phx-click="join_game"
    phx-target="window"
    phx-value-id="<%= world.game_id %>"
    data-world="<%= Jason.encode! world %>"
    phx-hook="canvasMini"
    height="<%= world.height / 5 %>"
    width="<%= world.width / 5 %>"
    style="border: thin solid"
  >
    Canvas is not supported!
  </canvas>

<% end %>

<button phx-click="create_new_game">New Game</button>