<figure style="vertical-align: top; display: block; text-align: center;">
  <% cat = random_cat() %>
  <img src="/images/<%=cat.img%>">
  <figcaption style="display: block;"><%= cat.about %></figcaption>
</figure>
